@model WebApplication2.Outgoing

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplierCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplierCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchaseFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchaseFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utilityBills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utilityBills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transportCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transportCost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
