@model WebApplication2.Leave

@{
    ViewBag.Title = "Delete";
}
<br />
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Leave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_Employee_Name_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Employee_Name_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Leave_Type_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Leave_Type_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Start_date_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Start_date_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_End_date_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_End_date_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Document_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Document_)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
        </div>
    }
</div>
