@model WebApplication2.Leave

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Details</h2>

<div>
    <h4>Leave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_Employee_Name_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Employee_Name_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Leave_Type_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Leave_Type_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Start_date_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Start_date_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_End_date_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_End_date_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Document_)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Document)*@
            <img src="@Url.Content(Model.C_Document_)" width="500" height="500" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Review Leave", "Edit", new { id = Model.C_Leave_ID_ }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to leave List", "Index", new object { }, new { @class = "btn btn-primary" })
</p>
